<article class="drawing">
    <div>
        <a href="{{image}}" target="_blank">{{title}}</a>
    </div>
    <div>
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>